<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Violet Services - Free CSS Templates</title>
<meta name="keywords" content="violet, services, free css templates, CSS, HTML" />
<meta name="description" content="Violet Services - CSS Templates provided by templatemo.com" />

<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/contentslider.css" />

<script type="text/javascript" src="scripts/contentslider.js">

/***********************************************
* Featured Content Slider- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for this script and 100s more
***********************************************/

</script>

<link rel="stylesheet" type="text/css" href="css/gallery_slider.css" />

<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

<script language="javascript" type="text/javascript" src="scripts/mootools-1.2.1-core.js"></script>
<script language="javascript" type="text/javascript" src="scripts/mootools-1.2-more.js"></script>
<script language="javascript" type="text/javascript" src="scripts/slideitmoo-1.1.js"></script>
<script language="javascript" type="text/javascript">
	window.addEvents({
		'domready': function(){
			/* thumbnails example , div containers */
			new SlideItMoo({
						overallContainer: 'SlideItMoo_outer',
						elementScrolled: 'SlideItMoo_inner',
						thumbsContainer: 'SlideItMoo_items',		
						itemsVisible: 4,
						elemsSlide: 2,
						duration: 180,
						itemsSelector: '.SlideItMoo_element',
						itemWidth: 190,
						showControls:1 });
		},
		
	});
</script>

</head>
<body>

<div id="templatemo_wrapper">
    
    <div id="templatemo_header">
        
        <div id="site_title"><h1><a href="#">Free CSS Templates</a></h1></div>
        
        <div id="templatemo_menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="services.html" class="current">Services</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#" class="last">Contact</a></li>
            </ul>    	
            <div class="cleaner"></div>
        </div> <!-- end of templatemo_menu -->
        
        <div class="cleaner"></div>
    </div>
    
    <div id="templatemo_middle">
        <div id="mid_img_wrap"><span></span>

            <div id="slider1" class="sliderwrapper">

                <div class="contentdiv">
                    <img src="images/slider/image_00.jpg" alt="Image 0" />
                </div>
    
                <div class="contentdiv">
                    <img src="images/slider/image_01.jpg" alt="Image 1" />
                </div>            
                
                <div class="contentdiv">
                    <img src="images/slider/image_02.jpg" alt="Image 2" />
                </div>
                
                <div class="contentdiv">
                    <img src="images/slider/image_03.jpg" alt="Image 3" />
                </div>
            
            </div>
            
            <div id="paginate-slider1" class="pagination">
            
            </div>
            
            <script type="text/javascript">
            
            featuredcontentslider.init({
                id: "slider1",  //id of main slider DIV
                contentsource: ["inline", ""],  //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
                toc: "#increment",  //Valid values: "#increment", "markup", ["label1", "label2", etc]
                nextprev: ["", ""],  //labels for "prev" and "next" links. Set to "" to hide.
                revealtype: "click", //Behavior of pagination links to reveal the slides: "click" or "mouseover"
                enablefade: [true, 0.2],  //[true/false, fadedegree]
                autorotate: [true, 2000],  //[true/false, pausetime]
                onChange: function(previndex, curindex){  //event handler fired whenever script changes slide
                    //previndex holds index of last slide viewed b4 current (1=1st slide, 2nd=2nd etc)
                    //curindex holds index of currently shown slide (1=1st slide, 2nd=2nd etc)
                }
            })
            
            </script>
        </div>
        <div id="mid_right">
      <div id="mid_title"> Violet Website</div>
          <p>	<a href="#">Free CSS Templates</a> are provided by templatemo.com for everyone. Feel free to use this template for your websites. Credit goes to Free Photos for photos used in this template.</p>
          <a  class="view_port" href="#"></a>
        </div>
    </div>
    
    <div id="templatemo_main">
    	
        <div class="content_box">
        	<h2>High Quality <span>Services</span></h2>
            <p>Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow">CSS</a>. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque imperdiet tempus felis, pulvinar laoreet tortor sollicitudin dapibus. Nulla congue pulvinar rhoncus. Sed vestibulum vestibulum sapien a adipiscing. Duis porta arcu ac risus lacinia dictum. Suspendisse potenti. In hac habitasse platea dictumst. Sed ac tellus magna, sit amet rutrum felis. Mauris odio velit, tristique quis varius eget, euismod sit amet turpis. Vivamus mattis sollicitudin commodo. Aliquam nec mattis leo. Phasellus ac dui erat, ac aliquam mi. Nullam suscipit varius quam, aliquam mollis arcu pulvinar sed. <a href="#">Pellentesque et purus</a> vitae metus faucibus malesuada quis eu ante.</p>
          <p>Praesent ac erat nisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam quis leo sed mi fermentum eleifend porttitor sit amet ante. Donec molestie massa non metus mattis consectetur. Maecenas est enim, fringilla sed scelerisque id, ultricies id lacus. Maecenas ac massa in urna lobortis laoreet. Suspendisse enim nulla, venenatis et laoreet vel, bibendum nec velit. Donec fringilla, ipsum nec placerat lacinia, nisi nibh accumsan augue, vitae consequat nibh elit a tortor. Curabitur vitae massa sapien.</p>
            <p> Duis varius blandit imperdiet. Vivamus adipiscing, nunc ut luctus feugiat, turpis urna commodo sapien, vel facilisis diam ante non est. <a href="#">Maecenas turpis mauris</a>, congue ac malesuada ut, vulputate in augue. Maecenas tincidunt, nisi pellentesque lobortis dictum, diam mi pretium velit, et fermentum neque nisl vel nisi. Fusce bibendum vestibulum laoreet. Vivamus vitae nisl et magna venenatis tincidunt. Fusce cursus metus in dolor consectetur feugiat. </p>
      </div>
        
        <div class="content_box">
        	<div class="col_3">
            	<h3>Lorem ipsum dolor sit<span>Nunc blandit orci sit amet risus.</span></h3>
           	  	<p>Pellentesque dolor nulla, congue vitae, fringilla in, varius a, orci. Mauris convallis. Proin vel libero id erat venenatis accumsan. Nunc blandit orci sit amet risus.</p>
				<a href="#" class="more">Read More</a>
            </div>
      <div class="col_3">
            	<h3>Nunc blandit amet risus<span>Pellentesque habitant morbi</span></h3>
            	<p>Aenean id nulla id odio tincidunt elementum nec vitae velit. Praesent at pulvinar risus. Morbi enim nisl, pretium quis rutrum ut, lacinia sit amet dui.</p>
                <a href="#" class="more">Read More</a>
          </div>
      <div class="col_3 col_last">
            	<h3>Fusce cursus metus in dolor<span>Duis pulvinar scelerisque ante</span></h3>
       			<p>Duis vitae velit. Ut ultricies. Fusce sollicitudin nisl a lectus. Pellentesque odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                <a href="#" class="more">Read More</a>
            </div>
          <div class="cleaner"></div>
        </div>
        
        <div class="cleaner"></div>
    </div> <!-- end of main -->
    
<div class="cleaner"></div>	
</div> <!-- end of wrapper -->

<div id="templatemo_footer_wrapper">
	<div id="templatemo_footer">
    	
        <div class="footer_box">
            <h4>Cool Links</h4>
            <ol class="footer_list">
                <li>Duis vitae velit sed lesuada dignis</li>
                <li>Donec mollis aliquet ligula</li>
                <li>Maecenas adipiscing elementum</li>
                <li>Nascetur ridiculus mus</li>
          </ol>
      </div>
        
         <div class="footer_box">
            <h4>Best Partners</h4>
            <ol class="footer_list">
                <li><a href="http://www.templatemo.com" target="_parent">CSS Templates</a></li>
                <li><a href="http://www.flashmo.com" target="_parent">Flash Templates</a></li>
                <li><a href="http://www.webdesignmo.com/blog" target="_parent">Web Design Tips</a></li>
                <li><a href="http://www.koflash.com" target="_parent">Cool Flash Websites</a></li>
            </ol>
        </div>
        
         <div class="footer_box">
            <h4>About Us</h4>
            <p>Nullam ultrices tempor nisi, ac egestas diam aliquam a. Ut eleifend semper turpis, id feugiat arcu dignissim eu. </p>
        </div>
        
         <div class="footer_box footer_box_last">
            <h4>Our Policy</h4>
            <p>Nullam ultrices tempor nisi, ac egestas diam aliquam a. Ut eleifend semper turpis, id feugiat arcu dignissim eu.Mauris quis nulla sed ipsum pretium sagittis.</p>
      </div>
    
		<div class="cleaner"></div>
    </div> <!-- end of footer -->
    
    <div id="footer_menu_box">
    	<ol class="footer_menu">
        	<li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contact</a></li>
		</ol>
    </div>
    
    <div id="copyright">

        Copyright © 2048 <a href="#">Your Company Name</a> | 
        <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent">CSS Templates</a>
    
    </div> <!-- end of templatemo_footer -->
</div> <!-- end of footer wrapper -->

<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>